<div class="box">

    <div class="grid grid-cols-12 gap-3">

        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img 
                class="w-full h-full rounded-full"
                src="https://cdn.pixabay.com/photo/2023/05/05/04/16/ai-generated-7971439_640.jpg" alt="">
            </div>

        </div>
        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">Malvika Kandari</p>
                    <p class="opacity-70">Nov 26, 2023</p>
                </div>
                <div>
                    <app-star-rating/>
                </div>
                <p>
                    Nice product, i like this t-shirt
                </p>

            </div>

        </div>
    </div>
</div>
